:root {
    --background-color: blue;
    --text-color: rgb(224, 219, 219);
    --pofilio-font: Arial, Helvetica, sans-serif;
    --heading-color: #0f0b0b;

}


body {
    font-family: var(--background-color);
    color: var(--text-color);
    font-family: var(--pofilio-font);
}

header {
    background-color: var(--background-color);

}

h1,
h2,
h3,
h4,
h5,
h5 {
    color: var(--heading-color);
}


ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--pofilio-font)
    padding: 5px 15px;
    opacity: 0.7;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

footer {
    position: fixed;
    float: left;
    font-size:25px;
    padding-left:40px;
    word-spacing:20px;
}

.nav-container {
    position: relative;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-title {
    background-color: aliceblue;
}


main.porfolio-container {
    display: flex;
    flex: wrap;
    justify-content: center;
}

.porfolio {
    border:dotted 2px white;
    padding: 20px 10px;
    margin: 30px 5px;
    flex: 1 0 300px;
}

.snippet-card-header {
    border: solid 2px white;
    border-radius: 8px white;
    width: 90%;
    margin-top: -17px;
    background: var(--background-color);
}


/* Tablet */
@media screen and (min-width: 650px) {

}

/* desktop */
@media screen and (min-width: 1100px) {
    
}