:root {
    --site-font-family:Arial,Helvetica,sans-serif;
    --body-padding: 20px;
    --body-marging: 0px;
    --site-font-size: 1rem;color:#fff;
    --nav-background-color:#4b4b4b;
    --header-background-color:#c88b76;
    box-sizing: border-box;
}


*,:after,:before{box-sizing:border-box}

html{
    font-size:100%
}
body{
    margin:0;
    padding:20px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1rem;color:#fff
}

aside,
footer,
header,
main,
section{
    display:block;
    margin:0;
    padding:1.25rem;
    border:1px solid #fff;
    color:#fff
}
main{
    background: var(--nav-background-color)
}

nav {
    background: var(--header-background-color);
}
a {
    color: white;
}


.header{
    background: var(--header-background-color)
}

.menu,
.submenu {   
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.flex-container
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}

.hero
{
    background:#d22b1f
}

.wrapper{
    margin:auto;
    max-width:75rem
}

@media screen and (min-width:640px)
{
    
.flex-container{display:flex}
}

.content{
    flex:1;
    background: var(--nav-background-color);

}

.porfolio_images{
    background: var(--nav-background-color);
    
}

.sidebar{
    flex:0 1 300px;background:#673ab7
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}

.footer,
.sidebar{
    border:1px solid #000
}
.footer{
    background:#616161
}

#portfolio-images a:hover {
    background: #d22b1f;
}
